:root {
    font-optical-sizing: auto;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    will-change: color, background-color;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
}