@use '../global/typography' as t;
@use '../utils/' as u;

.header {

    &__theme-toggler {
        grid-column: 4 / 5;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;
        color: var(--heading-color);

        @include u.breakpoint(medium) {
            grid-column: 7 / 9;
        }

        @include u.breakpoint(large) {
            grid-column: 11 / 13;
            justify-self: flex-end;
        }
    }

    &__topic {
        grid-column: 1 / 2;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;

        @include t.text-preset-1();
        color: var(--heading-color);

        &--hidden {
            visibility: hidden;
        }

        &--visible {
            visibility: visible;
        }

        @include u.breakpoint(medium) {
            grid-column: 1 / 7;
        }


        @include u.breakpoint(large) {
            grid-column: 1 / 11;
        }
    }

    &__switcher-input {
        display: none;

        &:checked + .header__switcher::before {
            transform: translateX(1.2rem);
        }
    }

    &__switcher {
        position: relative;
        padding: 0.4rem;
        width: 3.2rem;
        height: 2rem;
        background-color: var(--accent-color);
        border-radius: 99.9rem;

        &:hover {
            cursor: pointer;
        }

        &::before {
            position: absolute;
            content: '';
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: var(--fixed-color-1);
            transition: all 0.3s ease-out;
        }
    }
}